@tailwind base;
@tailwind components;
@tailwind utilities;
.primarycolor {
    background-color: #5AA879;
}

textarea {
    resize: none;
}

.bganimal {
    /* The image used */
    background-image: url("/bg2.jfif");
  
    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 28px;
    margin-left: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

.htax {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.ptax {
    font-size: 16px;
    text-align: left;
}